div#home-view{
    display: grid;
    grid-template-columns: 50%;
    border-style: solid;
    border-color: black;
    justify-self: stretch;
    align-self: stretch;
    justify-content: center;
    align-content: flex-start;
    grid-gap: 20px;
    grid-row-gap: 20px;
}

div#home-posts{
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1024px){
    div#home-view{
        grid-template-columns: 100%;
    }
}